@import url("./reset.css");

:root {
    /* colours */
    --hero-footer-background-color: #1F2937;
    --hero-main-text-color: #F9FAF8;
    --hero-secondary-text-color: #E5E7EB;
    --header-logo-text-color: #F9FAF8;
    --button-color: #3882F6;
    --feature-header-text-color: #1F2937;
    --testimonial-background-color: #E5E7EB;
    --testimonial-text-color: #1F2937;
    /* font-weights */
    --hero-main-text-font-weight: extra-bold;
    --feature-header-text-font-weight: extra-bold;
    --testimonial-text-font-weight: light-italic;
    /* font-size */
    --hero-main-text-font-size: 48px;
    --hero-secondary-text-font-size: 18px;
    --header-logo-text-font-size: 24px;
    --feature-header-text-font-size: 36px;
    --testimonial-text-font-size: 36px;
}

body {
    font-family: Arial;
}

/* header */ 
.header {
    display: flex;
    justify-content: space-between;
    background-color: var(--hero-footer-background-color);
    padding: 1rem 15rem;
}
.header-logo {
    color: var(--header-logo-text-color);
    font-size: var(--header-logo-text-font-size);
}

.header-link-container {
    display: flex;
    align-items: center;
}

.header-link {
    text-decoration: none;
    color: var(--hero-secondary-text-color);
    font-size: var(--hero-secondary-text-font-size);
    margin: 16px;
}

/* main */

section {
    padding: 5rem 15rem;
}

/* hero-section */

.hero-section {
    display: flex;
    align-items: center;
    background-color: var(--hero-footer-background-color);
}

.hero-left {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 50%;
}

.hero-heading {
    font-size: var(--hero-main-text-font-size);
    font-weight: var(--hero-main-text-font-weight);
    color: var(--hero-main-text-color);
}

.hero-text {
    font-size: var(--hero-secondary-text-font-size);
    color: var(--hero-secondary-text-color);
}

.hero-btn {
    background-color: var(--button-color);
    color: var(--hero-main-text-color);
    width: 80px;
    outline: none;
    border: 1px solid var(--button-color);
    padding: 8px;
    border-radius: 5px;
}

.hero-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.hero-img {
    height: 14rem;
    width: 30rem;
    background-color: grey;
}

/* feature section */

.feature-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feature-heading {
    font-size: var(--feature-header-text-font-size);
    font-weight: var(--feature-header-text-font-weight);
}

.feature-bottom {
    display: flex;
}